#HEADER {
  box-shadow: 0 3px 3px #5f9ea0;
  height: 70px;
}
.container {
  height: 100%;
  background: black;
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  width: 80%;
  margin: auto;
}
.me {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu {
  display: none;
  cursor: pointer;
}
.name {
  white-space: nowrap;
  max-width: 160px;
}
.online {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 5px;
}
.logout {
  position: absolute;
  right: 0px;
  background-image: url("/logout.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}
.logout:hover {
  opacity: 70%;
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    h2 {
      display: none;
    }
  }
  .name {
    font-size: 14px;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu {
    display: block;
  }
}
