.sidebar {
    padding: 25px;
    min-width: 250px;
    border-right: 1px solid #443d3d;
}

.chat-title {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: 2px solid #443d3d;
  margin-bottom: 5px;

}

.chats-menu {
  padding-left: 5px;
  padding-right: 30px;
  height: 400px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #7903b4 #000000;
  list-style-type: none;
}

.chats-menu .chat-name {
  padding: 10px 0;
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-name {
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.del-but {
  background-color: black;
  color: red;
  border: 3px solid red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.del-conf {
  position: fixed;
  width: 400px;
  min-height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.99);
  border: 1px solid rgb(239 239 255 / 99%);
  border-radius: 15px;
  padding: 20px;
  opacity: 1;
  z-index: 3;
  display: none;
  text-align: center;
}

.blur {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.99);
  padding: 20px;
  opacity: 0.7;
  z-index: 2;
  display: none;
}

.del-conf span {
  margin-bottom: 30px;
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.del-conf button {
  cursor: pointer;
  background: #443d3d;
  padding: 5px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
}
.del-conf span {
  font-size: 25px;
  font-weight: 600;
}

.del-cancel {
  margin-left: 35px;
  background: #443d3d;
  padding: 5px;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
}

.visible {
  display: block !important;
}
.add-field {
    background: #514a4a;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.add-mem {
    padding: 10px;
    background: #443d3d;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 10px;
}
.me-msg {
      display: flex;
    /* align-items: end; */
    flex-direction: column;
    /* width: 500px; */
    /* float: right; */
    /* width: 200px; */
    direction: rtl;
    translate: calc(1170px - 100%);
    width: fit-content;
}
/* .selected {
  opacity: 0.7;
} */
